## Compiled binaries
bin/
obj/

## Rider / JetBrains IDE
.idea/
*.sln.iml

## Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

## Logs and database
*.log
*.db
*.pdb

## Build results
*.dll
*.exe

## Secrets
*.env
secrets.json
appsettings.Development.json  # si tiene datos sensibles

## NuGet packages
*.nupkg
packages/
*.snupkg

## Others
Thumbs.db
.DS_Store